# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.eggs/
*.log

# Virtual env
.venv/
env/
venv/

# IDE/editor configs
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Secrets
.env
*.key
*.pem

# Build/dist
dist/
build/
*.egg
